asgiref==3.2.3
attrs==19.3.0
backcall==0.1.0
coverage==5.0.3
daiquiri==2.0.0
decorator==4.4.1
Django==3.0.3
foundationdb==6.2.10
immutables==0.11
importlib-metadata==1.5.0
ipython==7.12.0
ipython-genutils==0.2.0
jedi==0.16.0
more-itertools==8.2.0
packaging==20.1
parso==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.3
ptyprocess==0.6.0
py==1.8.1
Pygments==2.5.2
pyparsing==2.4.6
pytest==5.3.5
pytest-cov==2.8.1
pytest-cover==3.0.0
pytest-coverage==0.0
python-json-logger==0.1.11
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
traitlets==4.3.3
wcwidth==0.1.8
zipp==3.0.0
