{% extends "base.html" %}

{% block title %}copernic - changes{% endblock %}

{% block container %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="/changes">Changes</a></li>
    </ol>
</nav>

{% for change in changes %}
<div class="card">
    <div class="card-body">
        <p>{{ change.message }}</p>
        <a href="/change/{{ change.changeid }}/">{{ change.changeid }} @ {{ change.created_at }} ({{ change.comment_set.count }} comments)</a>
    </div>
</div>
<br/>
{% endfor %}
<br/>

{% endblock %}
