{% extends "base.html" %}

{% block title %}copernic - changes{% endblock %}

{% block container %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="/changes">Changes</a></li>
    </ol>
</nav>

<h2>Changes</h2>

<p class="form-text text-muted">Here is the history of the database and changes that remain to be applied by a superuser. Pending changes are marked with a <span class="badge badge-secondary">New</span> badge.</p>

{% for change in changes %}
<div class="card">
    <div class="card-body">
        <p><span class="badge badge-secondary">{% if change.status == 1 %}New{% endif %}</span> {{ change.message }}</p>
        <a href="/change/{{ change.changeid }}/">{{ change.changeid }} @ {{ change.created_at }} ({{ change.comment_set.count }} comments)</a>
    </div>
</div>
<br/>
{% endfor %}
<br/>

{% endblock %}
