{% extends "base.html" %}

{% block title %}copernic - change request {{ change.changeid }} {% endblock %}

{% block container %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/changes">Change</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ change.changeid }}</li>
    </ol>
</nav>

<h2>Change request {% if change.status == 1 %}<small>(<a href="/change/{{ change.changeid }}/add">add</a> / <a href="/change/{{ change.changeid }}/delete">delete</a> / <a href="/change/{{ change.changeid }}/import">import</a>)</small>{% endif %}</h2>

{% if change.status == 2 %}<p class="form-text text-muted">This change-request was applied to the database, you can only comment. If you think there is mistake, <a href="/change/new">create change-request</a>.</p>{% endif %}

<div class="card">
    <div class="card-body">
        <p>{{ change.message }}</p>
        <p><small>{{ change.created_at }}</small></p>
    </div>
</div>

<br/>


<div class="container">
    {% for change in changes %}
    <div class="row" style="background: {% if not change.alive %}pink{% endif %}">
        <div class="col" style="width: 50px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            {{ change.uid | linkify }}
        </div>
        <div class="col">
            {{ change.key | linkify  }}
        </div>
        <div class="col">
            {{ change.value | linkify  }}
        </div>
    </div>
    {% empty %}
    <p>no changes, yet!</p>
    {% endfor %}
</div>

<h2>Comments</h2>
{% for comment in comments %}
<div class="card">
    <div class="card-body">
        <p>{{ comment.body }}</p>
        <p><small>{{ comment.created_at }}</small></p>
    </div>
</div>
<br/>
{% empty %}
<p>no comments, yet!</p>
{% endfor %}
<h2>Add a comment</h2>
<form method="POST" action="/change/{{ change.changeid }}/comment/add/">
    {% csrf_token %}
    <div class="form-group">
            <textarea name="body" class="form-control" id="body" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>

{% if superuser %}
<h2>Superuser actions</h2>
<form method="POST" action="/change/{{ change.changeid }}/apply/">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary mb-2">Apply changes</button>
</form>
{% endif %}

{% endblock %}
