{% extends "base.html" %}

{% block title %}copernic - add to {{ changeid }} {% endblock %}

{% block container %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/changes">Change</a></li>
        <li class="breadcrumb-item active">New</li>
    </ol>
</nav>

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="uid">Message</label>
        <input name="message" type="text" class="form-control" id="message">
        <small class="form-text text-muted">Small description of the change, bigger than 30, smaller than 2048 characters.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
