{% extends "base.html" %}

{% block title %}copernic - changes{% endblock %}

{% block container %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="/changes">Changes</a></li>
    </ol>
</nav>

<ul>
{% for change in changes %}
    <li><a href="/change/{{ change.changeid }}/">{{ change.changeid }} ({{ change.comment_set.count }} comments)</a></li>
{% endfor %}
</ul>

{% endblock %}
