{% extends "base.html" %}

{% block title %}copernic - change request {{ change.changeid.hex.upper }} {% endblock %}

{% block container %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/changes">Change</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ change.changeid.hex.upper }}</li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Change request (<a href="/change/{{ change.changeid.hex.upper }}/add">add</a> / <a href="/change/{{ change.changeid.hex.upper }}/delete">delete</a>)</h2>
            <ul>
                {% for change in changes %}
                <li>foobar</li>
                {% empty %}
                <li>no changes, yet!</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <h2>Comments</h2>
            {% for comment in comments %}
            <div>
                <p>{{ comment.body }}</p>
                <p><small>{{ comment.created_at }}</small></p>
            </div>
            {% empty %}
            <p>no comments, yet!</p>
            {% endfor %}
            <h2>Add a comment</h2>
            <form method="POST" action="/change/{{ change.changeid.hex.upper }}/comment/add/">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="body" class="form-control" id="body" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
