{% extends "base.html" %}

{% block title %}copernic - index{% endblock %}

{% block container %}

<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>copernic</h1>
        <p>
            copernic aims to replace the use of git and make practical
            cooperation around the creation, publication, storage,
            re-use and maintenance of knowledge bases that are bigger
            than memory.
        </p>
        <form class="form-horizontal" method="GET" action="/search">
            <div class="form-group">
                <label for="query" class="col-sm-2 control-label">Query</label>
                <div class="col-sm-10">
                    <input type="query" class="form-control" name="query" placeholder="something...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div> <!-- /container -->
{% endblock %}
