{% extends "base.html" %}

{% load humanize %}

{% block title %}copernic - index{% endblock %}

{% block container %}

<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>copernic</h1>
        <p>
            copernic aims to make practical cooperation around the
            creation, publication, storage, re-use and maintenance of
            knowledge bases, and structured data that are bigger than
            memory.
        </p>
        <p>As of right now there is {{ count | intword }} triples in the knowledge base.</p>

    </div>
</div> <!-- /container -->
{% endblock %}
