{% extends "base.html" %}

{% block title %}copernic - index{% endblock %}

{% block container %}

<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>copernic</h1>
        <p>
            copernic aims to make practical cooperation around the
            creation, publication, storage, re-use and maintenance of
            knowledge bases, and in general structured data that are
            bigger than memory.
        </p>
    </div>
</div> <!-- /container -->
{% endblock %}
