{% extends "base.html" %}

{% block title %}copernic - plot{% endblock %}

{% block container %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Plot</li>
    </ol>
</nav>

<h2>Make plot</h2>

<p class="form-text text-muted">This is a pattern matching plot builder.  It other words, it will match triples found in the database according the patterns that are submitted by the form.  Query variables must end with question mark suffix <code>?</code> like <code>uid?</code>.  Any row with an empty field will be ignored. Check out this example query: <a href="/query/?uid0=0uid%3F&key0=title&value0=copernic&uid1=0uid%3F&key1=key%3F&value1=value%3F">"what is copernic"</a>. Variables are sorted in the result table.  The plot will use the variables <code>x?</code> and <code>y?</code>.</p>

<form method="GET">
    <div class="form-row">
        <div class="col">
            <input name="uid0" type="text" class="form-control" placeholder="uid" value="{{patterns.uid0}}">
        </div>
        <div class="col">
            <input name="key0" type="text" class="form-control" placeholder="key" value="{{patterns.key0}}">
        </div>
        <div class="col">
            <input name="value0" type="text" class="form-control" placeholder="value" value="{{patterns.value0}}">
        </div>
    </div>
    <br/>
    <div class="form-row">
        <div class="col">
            <input name="uid1" type="text" class="form-control" placeholder="uid" value="{{patterns.uid1}}">
        </div>
        <div class="col">
            <input name="key1" type="text" class="form-control" placeholder="key" value="{{patterns.key1}}">
        </div>
        <div class="col">
            <input name="value1" type="text" class="form-control" placeholder="value" value="{{patterns.value1}}">
        </div>
    </div>
    <br/>
    <div class="form-row">
        <div class="col">
            <input name="uid2" type="text" class="form-control" placeholder="uid" value="{{patterns.uid2}}">
        </div>
        <div class="col">
            <input name="key2" type="text" class="form-control" placeholder="key" value="{{patterns.key2}}">
        </div>
        <div class="col">
            <input name="value2" type="text" class="form-control" placeholder="value" value="{{patterns.value2}}">
        </div>
    </div>
    <br/>
    <div class="form-row">
        <div class="col">
            <input name="uid3" type="text" class="form-control" placeholder="uid" value="{{patterns.uid3}}">
        </div>
        <div class="col">
            <input name="key3" type="text" class="form-control" placeholder="key" value="{{patterns.key3}}">
        </div>
        <div class="col">
            <input name="value3" type="text" class="form-control" placeholder="value" value="{{patterns.value3}}">
        </div>
    </div>
    <br/>
    <div class="form-row">
        <div class="col">
            <input name="uid4" type="text" class="form-control" placeholder="uid" value="{{patterns.uid4}}">
        </div>
        <div class="col">
            <input name="key4" type="text" class="form-control" placeholder="key" value="{{patterns.key4}}">
        </div>
        <div class="col">
            <input name="value4" type="text" class="form-control" placeholder="value" value="{{patterns.value4}}">
        </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>

<h2>Plot</h2>

<div id="plot"></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var trace1 = {
    x: [{% for binding in bindings %}{{ binding|getattr:"x?"}}{% if not forloop.last %}, {% endif %}{% endfor %}],
    y: [{% for binding in bindings %}{{ binding|getattr:"y?"}}{% if not forloop.last %}, {% endif %}{% endfor %}],
    type: 'bar'
    };

    var data = [trace1];

    Plotly.newPlot('plot', data);
</script>
{% endblock %}
